@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,500,700');

html {
  font-weight: 100;
  font: 10px 'Heebo',arial, sans-serif;

}
body {
  font-size: 1.6rem;
  @include mobile-only {
    font-size: 16px;
  }
}
h1 {
  font-size: 70px;
  line-height: 1;
  font-weight: 300;
  font-family: 'Heebo';
  margin-bottom: 38px;
  @include mobile-only {
    font-size: 42px;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: 'Heebo';
  font-weight: 300;
  margin-bottom: 35px;
  text-transform: uppercase;  
  b {
    font-family: 'Heebo';
    font-weight: 500;    
  }
  @include mobile-only {
    font-size: 24px;
  }
}

h3 {
  font-family: 'Heebo';
  font-weight: 300;  
  margin-bottom: 10px;
  @include mobile-only {
    font-size: 20px;
  }
}

blockquote {
  font-family: 'Heebo';
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 10px;
}

h4 {
  font-size: 28px;
  margin-bottom: 35px;  
  @include mobile-only {
    font-size: 20px;
  }
}


h5 {
  font-size: 24px;
  margin-bottom: 35px;  
  @include mobile-only {
    font-size: 20px;
  }
}

a {
  color: inherit;
}

b {
  font-family: 'Heebo';
  font-weight: 700; 
}

p {
  line-height: 1.2;
  font-weight: 300;
  font-family: 'Heebo';
  margin-bottom: 10px;
  @include mobile-only {
    line-height: 1.2;
  }
}

.text-upper {
  text-transform: uppercase;
}

.text-white {
	color: $white;
}
.text-black {
	color: $black;
}
.text-gold {
	color: $gold;
}

.text-medium {
  font-family: 'Heebo';
  font-weight: 500;    
}

.text-purple {
  color: $purple;
}