@charset "UTF-8";
/**
 * This variables file was stolen from Bootstrap.
 */
@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,500,700");
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-weight: 100;
  font: 10px 'Heebo',arial, sans-serif; }

body {
  font-size: 1.6rem; }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    body {
      font-size: 16px; } }
  @media only screen and (max-device-width: 760px) {
    body {
      font-size: 16px; } }

h1 {
  font-size: 70px;
  line-height: 1;
  font-weight: 300;
  font-family: 'Heebo';
  margin-bottom: 38px; }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    h1 {
      font-size: 42px; } }
  @media only screen and (max-device-width: 760px) {
    h1 {
      font-size: 42px; } }

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: 'Heebo';
  font-weight: 300;
  margin-bottom: 35px;
  text-transform: uppercase; }
  h2 b {
    font-family: 'Heebo';
    font-weight: 500; }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    h2 {
      font-size: 24px; } }
  @media only screen and (max-device-width: 760px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-family: 'Heebo';
  font-weight: 300;
  margin-bottom: 10px; }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    h3 {
      font-size: 20px; } }
  @media only screen and (max-device-width: 760px) {
    h3 {
      font-size: 20px; } }

blockquote {
  font-family: 'Heebo';
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 10px; }

h4 {
  font-size: 28px;
  margin-bottom: 35px; }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    h4 {
      font-size: 20px; } }
  @media only screen and (max-device-width: 760px) {
    h4 {
      font-size: 20px; } }

h5 {
  font-size: 24px;
  margin-bottom: 35px; }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    h5 {
      font-size: 20px; } }
  @media only screen and (max-device-width: 760px) {
    h5 {
      font-size: 20px; } }

a {
  color: inherit; }

b {
  font-family: 'Heebo';
  font-weight: 700; }

p {
  line-height: 1.2;
  font-weight: 300;
  font-family: 'Heebo';
  margin-bottom: 10px; }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    p {
      line-height: 1.2; } }
  @media only screen and (max-device-width: 760px) {
    p {
      line-height: 1.2; } }

.text-upper {
  text-transform: uppercase; }

.text-white {
  color: #FFF; }

.text-black {
  color: #000; }

.text-gold {
  color: #c0bd31; }

.text-medium {
  font-family: 'Heebo';
  font-weight: 500; }

.text-purple {
  color: #451f34; }

@font-face {
  font-family: 'pri-icon';
  src: url("../fonts/pri-icon.eot?63961377");
  src: url("../fonts/pri-icon.eot?63961377#iefix") format("embedded-opentype"), url("../fonts/pri-icon.woff2?63961377") format("woff2"), url("../fonts/pri-icon.woff?63961377") format("woff"), url("../fonts/pri-icon.ttf?63961377") format("truetype"), url("../fonts/pri-icon.svg?63961377#pri-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pri-icon';
    src: url('../fonts/pri-icon.svg?63961377#pri-icon') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pri-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-search:before {
  content: '\e802'; }

/* '' */
.icon-shoppingbag:before {
  content: '\e804'; }

/* '' */
.icon-facebook:before {
  content: '\e805'; }

/* '' */
.icon-instagram:before {
  content: '\e806'; }

/* '' */
.icon-pinterest:before {
  content: '\e807'; }

/* '' */
.icon-twitter:before {
  content: '\e808'; }

/* '' */
.icon-linkedin:before {
  content: '\f318'; }

/* '' */
.row.no-gap {
  margin-left: 0;
  margin-right: 0; }

.row.no-gap [class^="col-"] {
  padding-left: 0;
  padding-right: 0; }

@media only screen and (max-width: 760px) {
  [class^="col-"] {
    ms-flex-preferred-size: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0; } }

@media only screen and (min-width: 760px) {
  .container {
    width: 100%; } }

.btn, button {
  text-transform: uppercase;
  font-weight: 300;
  border: 2px solid #ab9faa;
  padding: 6px 26px;
  display: block;
  color: #FFF;
  text-decoration: none;
  max-width: 100%;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #ab9faa;
  cursor: pointer; }
  .btn:hover, button:hover {
    background-color: transparent;
    color: #451f34; }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    .btn, button {
      width: 100%; } }
  @media only screen and (max-device-width: 760px) {
    .btn, button {
      width: 100%; } }
  .btn.btn-white, button.btn-white {
    font-size: 14px;
    background-color: transparent;
    margin-top: 15px;
    color: #451f34; }
    .btn.btn-white:hover, button.btn-white:hover {
      background-color: #451f34;
      color: #FFF; }

form.contactForm-form label {
  display: none; }

form.contactForm-form input, form.contactForm-form select, form.contactForm-form textarea {
  background-color: #FFF; }

form fieldset.contact {
  padding: 0;
  margin: 0;
  border: 0; }

form .form-group:first-child,
form .form-group:nth-child(2),
form .form-group:nth-child(3),
form .form-group:nth-child(4) {
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
  display: inline-block; }

form .form-group:first-child,
form .form-group:nth-child(3) {
  margin-right: 16px; }

form .field .heading {
  display: none; }

form input, form select, form textarea {
  font-family: 'Heebo';
  padding: 10px 20px;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 15px;
  background: #e8e7ec;
  border: none;
  border-left: 1px solid #ab9faa;
  border-top: 1px solid #ab9faa; }
  form input::-webkit-input-placeholder, form select::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
    font-family: 'Heebo';
    font-size: inherit;
    font-weight: 400;
    color: #9f9f9f; }
  form input:-moz-placeholder, form select:-moz-placeholder, form textarea:-moz-placeholder {
    font-family: 'Heebo';
    font-size: inherit;
    font-weight: 400;
    color: #9f9f9f; }
  form input::-moz-placeholder, form select::-moz-placeholder, form textarea::-moz-placeholder {
    font-family: 'Heebo';
    font-size: inherit;
    font-weight: 400;
    color: #9f9f9f; }
  form input:-ms-input-placeholder, form select:-ms-input-placeholder, form textarea:-ms-input-placeholder {
    font-family: 'Heebo';
    font-size: inherit;
    font-weight: 400;
    color: #9f9f9f; }

form input {
  margin-bottom: 15px; }

form select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }

form .col {
  overflow: hidden; }

form .notifications {
  margin-top: 20px; }

.calendar-block table {
  border-collapse: collapse;
  font: 600 13px/20px "Lato", Helvetica Neue, sans-serif;
  margin: 0px;
  width: 100%; }

.calendar-block table caption {
  display: none; }

.calendar-block table thead {
  border-left: 1px solid #EA6045;
  border-right: 1px solid #EA6045; }

.calendar-block table tbody {
  border: solid #e7e4df;
  border-width: 0 1px 1px 1px; }

.calendar-block th {
  color: #fff;
  font: 16px/18px "Lato", Helvetica Neue, sans-serif;
  padding: 9px 10px 13px;
  text-align: center;
  vertical-align: top;
  background-color: #EA6045; }

.calendar-block td {
  padding: 10px 4px 10px 6px;
  vertical-align: top;
  border-left: 1px solid #e7e4df;
  width: 136px; }

.calendar-block tr:nth-child(n+2) td {
  border-top: 1px solid #e7e4df; }

.calendar-block td:first-child {
  border: none; }

.calendar-block td.today {
  background: #f6f6f6; }

.calendar-block td .title {
  overflow: hidden;
  margin: 0 5px 4px 3px;
  display: block; }

.calendar-block td .title:hover {
  border: none !important;
  font-weight: bold; }

.calendar-block td.today .title span {
  display: none; }

.calendar-block td .title span {
  display: none;
  float: left;
  text-transform: uppercase;
  font-weight: 600; }

.calendar-block td.today .title em {
  width: 20px;
  height: 20px;
  padding: 4px;
  font: 13px/13px "Lato", Helvetica Neue, sans-serif;
  font-weight: 900;
  text-align: center;
  border-radius: 50%;
  background-color: #EA6045;
  color: #ffffff !important; }

.calendar-block td .title em {
  font: 13px/15px "Lato", Helvetica Neue, sans-serif;
  color: #908e8b;
  float: right; }

.calendar-block td ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.calendar-block td.today .title em {
  color: #302f2e; }

.calendar-block td li {
  padding: 0 0 0px 5px;
  margin: 0px;
  margin-bottom: 7px;
  font-weight: normal;
  line-height: 1.3;
  border-bottom: 1px dotted transparent; }

.calendar-block td li:hover {
  color: #41AAFA; }

.calendar-block td li a:active {
  color: #41AAFA; }

.calendar-block td a {
  color: #302f2e; }

.content-block {
  margin: 0 0 25px;
  overflow: hidden; }

@media screen and (min-width: 64em) {
  .table-box th .single {
    display: none; }
  .calendar-block .heading .month .short {
    display: none; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .filter-event,
  .list-view span {
    display: none !important; }
  .table-box th .single {
    display: none; }
  .calendar-block .heading .month .short {
    display: none; } }

@media screen and (max-width: 44.9375em) {
  .calendar-block .heading .month {
    width: 100px;
    padding-right: 0px;
    padding-left: 0px;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .calendar-block .heading .month .short {
    display: inline; }
  .calendar-block .heading .month .long {
    display: none; }
  .calendar-block .heading .btn-next {
    width: 50px; }
  .filter-event,
  .list-view span {
    display: none !important; }
  .table-box th .tri {
    display: none; }
  .table-box th .single {
    display: inline-block; }
  .table-box td {
    text-align: center;
    padding: 5px 0px;
    width: auto;
    height: auto; }
  .table-box td .title {
    width: 22px;
    height: 22px;
    margin: 0px auto; }
  .table-box td .title em {
    font: 15px/23px "Lato", Helvetica Neue, sans-serif;
    float: none;
    text-align: center; }
  .table-box td .title span {
    display: none !important; }
  .table-box td .title:active {
    background-color: #41AAFA;
    border-radius: 50%; }
  .table-box td .title:active em {
    color: #ffffff; }
  .table-box td ul {
    width: 5px;
    height: 5px;
    margin: 0px auto;
    margin-top: 5px;
    border-radius: 50%;
    background-color: #dddddd; }
  .table-box td ul li {
    display: none; }
  .table-box td.today {
    background-color: #ffffff; }
  .table-box td.today .title {
    width: 22px;
    height: 22px;
    margin: 0px auto;
    line-height: 22px;
    border-radius: 50%;
    background-color: #F8CA4D; }
  .table-box td.today .title em {
    color: #ffffff !important;
    text-align: center; }
  .event-list li h3 {
    font-size: 20px; }
  .event-list li .text-box {
    width: 75%; }
  .event-list .date {
    width: 45px;
    height: 45px;
    padding: 3px;
    font-size: 16px;
    position: relative;
    bottom: -10px; }
  .event-list .date span {
    font-size: 14px;
    line-height: 7px; }
  .event-list .btn-details {
    display: none; } }
.slides-container {
  width: 100%;
  overflow: hidden; }
  .slides-container .arrow {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    font-size: 50px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    font-size: 60px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
    .slides-container .arrow.arrow-left {
      left: 100px; }
    .slides-container .arrow.arrow-right {
      right: 100px; }
  .slides-container .index {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    bottom: 15px;
    color: #FFF;
    z-index: 2; }
    .slides-container .index span {
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
  .slides-container .slide {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0; }
    .slides-container .slide .slide-container {
      margin: 0 auto; }
    .slides-container .slide.active {
      z-index: 1;
      opacity: 1; }
    .slides-container .slide.left-in {
      opacity: 1;
      -webkit-animation: leftIn 1s normal forwards ease-in-out;
      animation: leftIn 1s normal forwards ease-in-out; }
    .slides-container .slide.right-in {
      opacity: 1;
      -webkit-animation: rightIn 1s normal forwards ease-in-out;
      animation: rightIn 1s normal forwards ease-in-out; }
    .slides-container .slide.left-out {
      opacity: 1;
      -webkit-animation: leftOut 1s normal forwards ease-in-out;
      animation: leftOut 1s normal forwards ease-in-out; }
    .slides-container .slide.right-out {
      opacity: 1;
      -webkit-animation: rightOut 1s normal forwards ease-in-out;
      animation: rightOut 1s normal forwards ease-in-out; }
    @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
      .slides-container .slide {
        background-size: cover !important;
        background-position: 50% 50% !important; } }
    @media only screen and (max-device-width: 760px) {
      .slides-container .slide {
        background-size: cover !important;
        background-position: 50% 50% !important; } }

@-webkit-keyframes leftIn {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes rightIn {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes leftOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-webkit-keyframes rightOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

footer {
  font-size: 14px;
  text-transform: uppercase;
  max-width: 430px; }
  footer [class^="col-"] {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  footer li {
    list-style: none;
    display: inline-block;
    font-size: 1.6rem;
    color: #ab9faa; }
    footer li a {
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      text-decoration: none; }
      footer li a:hover {
        color: #451f34; }
  footer input {
    margin-bottom: 0; }
  @media only screen and (min-width: 761px) and (min-device-width: 761px) {
    footer {
      position: absolute;
      right: 70px;
      bottom: 70px; } }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    footer {
      margin-top: 30px;
      text-align: center; } }
  @media only screen and (max-device-width: 760px) {
    footer {
      margin-top: 30px;
      text-align: center; } }

.container {
  margin: 0 auto;
  max-width: 1024px; }

html {
  color: #451f34;
  background-color: #FFF; }

body {
  background-color: #FFF; }

@media only screen and (min-width: 761px) and (min-device-width: 761px) {
  .scroller {
    border-left: 35px solid #f3d9ce;
    border-right: 35px solid #f3d9ce;
    border-bottom: 10px solid #f3d9ce; } }

@media only screen and (min-width: 761px) and (min-device-width: 761px) {
  .scroller {
    padding-top: 94px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; } }

.scroller,
.scroller-inner {
  position: relative; }

.scroller-inner {
  padding: 0 70px 70px;
  min-height: -webkit-calc(100vh - 94px);
  min-height: calc(100vh - 94px); }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    .scroller-inner {
      padding: 0; } }
  @media only screen and (max-device-width: 760px) {
    .scroller-inner {
      padding: 0; } }

img {
  max-width: 100%; }

hr {
  border: 1px solid #d5d5d5; }

.text-center {
  text-align: center; }

.mobile-only {
  display: none !important; }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    .mobile-only {
      display: block !important; } }
  @media only screen and (max-device-width: 760px) {
    .mobile-only {
      display: block !important; } }

@media only screen and (max-width: 1024px) and (min-device-width: 1025px) {
  .desktop-only {
    display: none !important; } }

@media only screen and (max-device-width: 1024px) {
  .desktop-only {
    display: none !important; } }

@media only screen and (max-width: 760px) and (min-device-width: 1025px) {
  .desktop-tablet-only {
    display: none !important; } }

@media only screen and (max-device-width: 760px) {
  .desktop-tablet-only {
    display: none !important; } }

.desktop-mobile-only {
  display: none !important; }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    .desktop-mobile-only {
      display: block !important; } }
  @media only screen and (max-device-width: 760px) {
    .desktop-mobile-only {
      display: block !important; } }
  @media only screen and (min-width: 1025px) and (min-device-width: 1025px) {
    .desktop-mobile-only {
      display: block !important; } }

@media only screen and (min-width: 1025px) and (min-device-width: 1025px) {
  .tablet-only {
    display: none !important; } }

@media only screen and (max-width: 760px) and (min-device-width: 1025px) {
  .tablet-only {
    display: none !important; } }

@media only screen and (max-device-width: 760px) {
  .tablet-only {
    display: none !important; } }

@media only screen and (min-width: 1025px) and (min-device-width: 1025px) {
  .tablet-mobile-only {
    display: none !important; } }

.box-shadow {
  -webkit-box-shadow: 4px 5px 20px 1px #9f9f9f;
  box-shadow: 4px 5px 20px 1px #9f9f9f; }

nav#mp-menu {
  z-index: 11;
  color: #451f34;
  background-color: #FFF; }
  nav#mp-menu a {
    text-decoration: none; }
  nav#mp-menu [class^="icon-"] {
    color: #000; }
  @media only screen and (min-width: 761px) and (min-device-width: 761px) {
    nav#mp-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-left: 35px solid #f3d9ce;
      border-right: 35px solid #f3d9ce;
      padding: 20px 70px;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      position: fixed;
      height: 90px;
      top: 0;
      left: 0;
      width: 100%;
      font-size: 1.1rem;
      text-transform: uppercase; }
      nav#mp-menu h2 {
        display: none; }
      nav#mp-menu .mp-level {
        width: 80%;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        position: relative;
        background: none;
        text-align: right; }
        nav#mp-menu .mp-level[data-level="2"] {
          width: 100%; }
      nav#mp-menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      nav#mp-menu a:not(.logo-link) {
        padding: 10px 10px; }
      nav#mp-menu li.li-icon {
        width: 35px; }
      nav#mp-menu li, nav#mp-menu a:not(.logo-link) {
        -webkit-box-shadow: none;
        box-shadow: none;
        text-shadow: none; }
        nav#mp-menu li:not([class^="icon-"]):before, nav#mp-menu a:not(.logo-link):not([class^="icon-"]):before {
          content: none; }
      nav#mp-menu li {
        width: auto;
        text-shadow: none;
        position: relative;
        vertical-align: top; }
        nav#mp-menu li:hover {
          color: #ab9faa; }
        nav#mp-menu li > .li-child {
          max-height: 0;
          height: auto;
          overflow-y: hidden;
          position: absolute;
          top: 90%;
          left: 20px;
          width: auto;
          -webkit-transition: all .3s ease;
          transition: all .3s ease; }
          nav#mp-menu li > .li-child ul {
            display: block;
            text-align: left; }
          nav#mp-menu li > .li-child li {
            display: block;
            background: #ab9faa;
            color: #FFF;
            margin-bottom: 5px; }
            nav#mp-menu li > .li-child li a {
              font-size: 1.1rem;
              padding: 5px 25px; }
            nav#mp-menu li > .li-child li:hover {
              color: #ab9faa; }
        nav#mp-menu li:hover > .li-child {
          max-height: 1000px; }
      nav#mp-menu li.social {
        color: #FFF; }
        nav#mp-menu li.social a {
          padding: 22px 8px; }
      nav#mp-menu li.hide {
        display: none; } }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    nav#mp-menu ul {
      position: static; } }
  @media only screen and (max-device-width: 760px) {
    nav#mp-menu ul {
      position: static; } }
  nav#mp-menu .mp-level {
    background-color: #FFF; }

.menu-trigger#trigger {
  background: transparent; }
  .menu-trigger#trigger:before {
    background: tranparent; }

.mobile-nav {
  height: 58px;
  top: 0;
  left: 0;
  width: 100%; }

.logo-link-left {
  position: absolute;
  display: block;
  width: 150px;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

#search-form {
  background: #FFF;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 80%;
  right: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transform: all .5s ease;
  -ms-transform: all .5s ease;
  transform: all .5s ease; }
  #search-form.active {
    z-index: 12;
    opacity: 1; }
  #search-form input {
    margin-right: 10px;
    margin-bottom: 0; }

@media only screen and (min-width: 1025px) and (min-device-width: 1025px) {
  .logo {
    width: 20%; }
    .logo img {
      max-width: 182px;
      margin-top: -13px; }
  .mp-pusher {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important; }
  #trigger {
    display: none; } }

.genericPage .slides-square {
  padding-bottom: 100%; }

@media only screen and (min-width: 761px) and (min-device-width: 761px) {
  .genericPage .slides-row {
    margin-top: 12%; }
  .genericPage .slides-right {
    margin-top: -17%; } }

.genericPage .triangle-top {
  position: absolute;
  left: -webkit-calc(33% - 90px);
  left: calc(33% - 90px);
  top: -70px;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ab9faa;
  border-left: 100px solid transparent; }

.genericPage .triangle-bottom {
  position: absolute;
  left: 33%;
  bottom: 5%;
  width: 0;
  height: 0;
  border-top: 150px solid #ab9faa;
  border-right: 150px solid transparent; }

.genericPage .slide-generic h2 {
  position: absolute;
  right: 20px;
  bottom: 0px;
  margin-bottom: 8px;
  font-size: 2rem; }

.genericPage .slide-special {
  background-color: #f3d9ce;
  padding: 20px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .genericPage .slide-special .slide-container {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .genericPage .slide-special h2 {
    margin-bottom: 10px;
    color: #FFF; }

.genericPage .slide-contact {
  background-color: #e8e7ec;
  padding: 30px; }

.genericPage#contact .slides-right, .genericPage#about-me .slides-right {
  padding: 0; }
  .genericPage#contact .slides-right .slide, .genericPage#about-me .slides-right .slide {
    position: relative;
    min-height: -webkit-calc(( 100vw - 450px ) / 3 * 2);
    min-height: calc(( 100vw - 450px ) / 3 * 2); }

.genericPage#contact .slides-right .slide {
  max-height: 630px; }

.aboutPage {
  padding-bottom: 80px; }
  .aboutPage .slides-square {
    padding-bottom: 100%; }
  .aboutPage .slides-left-bottom {
    padding-bottom: 66%;
    width: 66%;
    margin-right: 0;
    margin-left: auto; }
  .aboutPage .triangle {
    width: 0;
    height: 0;
    border-top: 150px solid #ab9faa;
    border-left: 150px solid transparent;
    margin-right: 0;
    margin-left: auto; }
  .aboutPage .about {
    padding: 30px;
    background: #e8e7ec; }
    .aboutPage .about__link {
      display: block;
      text-align: right;
      text-transform: uppercase;
      text-decoration: none;
      margin-top: 20px; }

.pressPage img {
  width: 100%;
  margin: 0 auto; }

.productsPage {
  padding-bottom: 90px; }
  .productsPage__hero {
    width: 100%;
    padding-bottom: 50%;
    margin-bottom: 0.8rem; }

__row {
  margin-right: -.4rem;
  margin-left: -.4rem; }

.product {
  padding: 0 .4rem;
  margin-bottom: 0.8rem; }
  .product__image {
    width: 100%;
    padding-bottom: 100%; }
  .product__detail {
    position: absolute;
    padding: 30px 20px;
    bottom: 0;
    left: 0;
    z-index: -1;
    font-size: 1.4rem;
    opacity: 0;
    width: 139%;
    word-break: break-all;
    background-color: #FFF;
    -webkit-box-shadow: 3px 3px 34px 4px #9f9f9f;
    box-shadow: 3px 3px 34px 4px #9f9f9f; }
    .product__detail h2, .product__detail h3 {
      font-size: 1.6rem;
      margin-bottom: 5px; }
  .product:nth-child(1n) .product__detail {
    left: .8rem; }
  .product:nth-child(3n) .product__detail {
    left: auto;
    right: 0; }
  .product:nth-child(4n) .product__detail {
    left: auto;
    right: .8rem; }
  .product:hover .product__detail {
    z-index: 2;
    opacity: 1; }

.servicesPage {
  padding-top: 20px; }
  .servicesPage .triangle-bottom-left {
    width: 0;
    height: 0;
    border-top: 90px solid #ab9faa;
    border-left: 90px solid transparent;
    position: absolute;
    top: -webkit-calc(( 100vw - 350px ) / 3 + 20px);
    top: calc(( 100vw - 350px ) / 3 + 20px); }
    @media only screen and (min-width: 1264px) {
      .servicesPage .triangle-bottom-left {
        top: -webkit-calc(( 1024px - 140px) / 3 + 20px);
        top: calc(( 1024px - 140px) / 3 + 20px); } }
  .servicesPage .triangle-top-right {
    width: 0;
    height: 0;
    border-top: 90px solid rgba(171, 159, 170, 0.7);
    border-left: 90px solid transparent;
    position: absolute;
    right: -20px;
    top: -10px;
    z-index: 2; }
  .servicesPage h2 {
    font-size: 2.8rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 0; }
  .servicesPage.container {
    overflow: visible; }
  .servicesPage__service-row {
    width: 100%; }
  .servicesPage__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media only screen and (min-width: 761px) and (min-device-width: 761px) {
      .servicesPage__left {
        height: 100%; } }
    @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
      .servicesPage__left {
        padding-top: 15%; } }
    @media only screen and (max-device-width: 760px) {
      .servicesPage__left {
        padding-top: 15%; } }
  @media only screen and (min-width: 761px) and (min-device-width: 761px) {
    .servicesPage__service {
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: -webkit-calc(( 100% - 140px ) / 3);
      width: calc(( 100% - 140px ) / 3); }
      .servicesPage__service:nth-child(2) {
        left: -webkit-calc(( 100% - 140px ) / 3 + 70px);
        left: calc(( 100% - 140px ) / 3 + 70px); }
        .servicesPage__service:nth-child(2):hover, .servicesPage__service:nth-child(2).active {
          left: 0; }
      .servicesPage__service:last-child {
        left: -webkit-calc(( 100% - 140px ) / 3 * 2 + 140px);
        left: calc(( 100% - 140px ) / 3 * 2 + 140px); }
        .servicesPage__service:last-child:hover, .servicesPage__service:last-child.active {
          left: 0; } }
  .servicesPage__service.active {
    position: relative; }
  .servicesPage__service:not(:hover):not(.active) .servicesPage__left {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .servicesPage__service:not(:hover):not(.active) .servicesPage__right {
    display: none; }
  .servicesPage__service:hover, .servicesPage__service.active {
    width: 100%;
    z-index: 1; }
  .servicesPage__service:not(.active) .servicesPage__detail-container {
    display: none; }
  .servicesPage__service-container {
    width: 100%;
    height: -webkit-calc(( 100vw - 350px ) / 3);
    height: calc(( 100vw - 350px ) / 3); }
    @media only screen and (min-width: 1264px) {
      .servicesPage__service-container {
        height: -webkit-calc(( 1024px - 140px) / 3);
        height: calc(( 1024px - 140px) / 3); } }
    @media only screen and (min-width: 761px) and (min-device-width: 761px) {
      .servicesPage__service-container {
        position: absolute;
        top: 0;
        left: 0; } }
    @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
      .servicesPage__service-container {
        height: 100vw; } }
    @media only screen and (max-device-width: 760px) {
      .servicesPage__service-container {
        height: 100vw; } }
  .servicesPage__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .servicesPage__description {
    text-align: center;
    width: 100%; }
    @media only screen and (min-width: 761px) and (min-device-width: 761px) {
      .servicesPage__description {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; } }
  .servicesPage__detail-container {
    background-color: #e8e7ec;
    font-size: 1.7rem; }
    .servicesPage__detail-container h3 {
      padding: 2.2rem;
      text-transform: uppercase; }
  .servicesPage__detail-body {
    padding: 20px; }
  .servicesPage blockquote {
    text-transform: uppercase; }
  .servicesPage__detail {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease; }
    .servicesPage__detail.active {
      position: relative;
      z-index: 2;
      opacity: 1; }
  .servicesPage nav {
    padding: 20px 20px 30px 20px;
    text-align: right; }
    .servicesPage nav pagination, .servicesPage nav ul, .servicesPage nav li {
      display: inline; }
    .servicesPage nav a {
      text-decoration: none;
      color: #ab9faa; }
      .servicesPage nav a.active {
        color: #451f34; }

.form-notification.success-message {
  margin-top: 20px; }

#galleries {
  padding: 0;
  min-height: 0; }
  #galleries h1 p {
    font-size: 1.5rem;
    margin-bottom: 0;
    line-height: 1; }
  #galleries .gallery-box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 135px; }
  #galleries .gallery-box {
    width: 277px;
    height: 277px;
    margin: 15px 35px;
    -webkit-transition: -webkit-filter .3s ease;
    transition: -webkit-filter .3s ease;
    transition: filter .3s ease;
    transition: filter .3s ease, -webkit-filter .3s ease;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
    #galleries .gallery-box:hover {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
      #galleries .gallery-box:hover .gallery-hover {
        opacity: 1; }
  #galleries .gallery-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-filter: none;
    filter: none;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease; }
    #galleries .gallery-hover h2 {
      font-size: 5.1rem;
      letter-spacing: 7px;
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0); }
  @media only screen and (max-width: 760px) and (min-device-width: 1025px) {
    #galleries {
      padding: 0; }
      #galleries h1 {
        display: none; }
      #galleries .gallery-box-container {
        margin-bottom: 15px; }
      #galleries .gallery-box {
        width: 255px; } }
  @media only screen and (max-device-width: 760px) {
    #galleries {
      padding: 0; }
      #galleries h1 {
        display: none; }
      #galleries .gallery-box-container {
        margin-bottom: 15px; }
      #galleries .gallery-box {
        width: 255px; } }
