form {
  &.contactForm-form {
    label {
      display: none;
    }
    input,select,textarea {
      background-color: $white;
    }

  }

  fieldset.contact {
    padding: 0;
    margin: 0;
    border: 0;
  }
  .form-group:first-child,
  .form-group:nth-child(2),
  .form-group:nth-child(3),
  .form-group:nth-child(4) {
    width: calc(50% - 10px);
    display: inline-block;
  }

  .form-group:first-child,
  .form-group:nth-child(3) {
    margin-right: 16px;
  }

  .field {
    .heading {
      display: none;
    }
  }
  input,select,textarea {
    font-family: 'Heebo';
    padding: 10px 20px;
    width: 100%;
    font-size: 1.8rem;
    margin-bottom: 15px;
    background: $gray-light;
    border: none;
    border-left: 1px solid $gray;
    border-top: 1px solid $gray;

    @include placeholder {
      font-family: 'Heebo';
      font-size: inherit;
      font-weight: 400;
      color: $gray-dark;
    }
  }
  input {
    margin-bottom: 15px;
  }
  $select-arrow: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0LjgzIDE2LjQybDkuMTcgOS4xNyA5LjE3LTkuMTcgMi44MyAyLjgzLTEyIDEyLTEyLTEyeiIvPjxwYXRoIGQ9Ik0wLS43NWg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+';

  select {
    border-radius: 0;
    -webkit-appearance: none; // autoprefixer won't add this and we still need it
    appearance: none;
    cursor: pointer;
  }
  .col {
    overflow: hidden;
  }
  .notifications {
    margin-top: 20px;
  }
}